<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Pgina anterior</a>
    {{/if}}
    <span class="page-number">Pgina {{page}} de {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Pgina siguiente &rarr;</a>
    {{/if}}
</nav>
