div(id="footer")
    p © 2013 www.loquedebessaber.com
    p "Todos nosotros sabemos algo. Todos nosotros ignoramos algo. Por eso, aprendemos siempre." Paulo Freire
    p
        a(href="https://github.com/Eyling/loquedebessaber.com", target="_blank") Repositorio en Github.com
    p
        a(href="https://github.com/Eyling/loquedebessaber_content", target="_blank") Repositorio de los art&iacute;culos en Github.com
